<h1>New Category</h1>



<%= simple_form_for @category do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, "Create Category" %>
<% end %>

<%= link_to "Back", categories_path, class: "btn btn-secondary" %>



<%= form_with model: @category do |form| %>

<div>
<%= form.label :name %>
<br>
<%= form.text_field :name %>
</div>

<div>
<%= form.submit "Create Category" %>
</div>

<%= end %>
