<!DOCTYPE html>
<html>
  <head>
    <title>RailsCookbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" crossorigin="anonymous">


  </head>

  <body>

  <nav>
  <%= link_to "Home", root_path %> |
  <%= link_to "All Categories", categories_path %> |
  <%= link_to "Add Category", new_category_path %>
</nav>


    <%= link_to "All Categories", categories_path %>
    <%= link_to "New Category", new_category_path %>
    <%= link_to "Back", categories_path %>
    <%= render "shared/navbar" %>


    <%= yield %>

  </body>
</html>
